/* 
TYPOGRAPHY
font-weight: dflt - 400; 500; 600; 700
line-heights: dflt - 1; smll - 1.05; p - 1.6

COLOURS
bg-color - #e67e22
tints #fdf2e9, #fae5d3, #6f6f6f
shadows
accents
greys:
#555 #333

letter-spacing: -0.5; 1.05; 1.2

SHADOWS

BORDER RADIUS: def: 9px; 11px

*/

/* === general styling === */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
}

body {
  font-family: Rubik, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* === reuseable grid === */
.grid {
  display: grid;
  gap: 9.6rem 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--center-vert {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* === typography === */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.2;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

h3 {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

strong {
  font-weight: 500;
}

.sub-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #b8651b;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* === reusable buttons ==== */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.btn-primary:link,
.btn-primary:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #cf711f;
  transition: 3;
  transform: all 0.3s;
}

.btn-secondary:link,
.btn-secondary:visited {
  color: #555;
  background-color: #ffffff;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn-form {
  border: none;
  cursor: pointer;
  background-color: #45260a;
  color: #fdf2e9;
  padding: 1.2rem;
  align-self: end;
}

.btn-form:hover,
.btn-form:active {
  background-color: #fdf2e9;
  color: #45260a;
}

/* === reuseable links === */
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  border-bottom: 1px solid transparent;
  color: #cf711f;
}

/* === helper classes === */
.mrg-right-sm {
  margin-right: 1.6rem !important;
}

.mrg-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center !important;
}
