/* 1330px */
@media (max-width: 84em) {
  .container-hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    gap: 6.4rem 4.8rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .container-hero {
    gap: 4.8rem;
  }

  .testomonials-container {
    padding: 9.6rem 3.2rem;
  }

  .plan-sign-up .btn-primary {
    font-size: 1.6rem;
  }

  .secton-cta {
    padding: 4.8rem 0;
    margin-bottom: 2rem;
  }
}

/* 900px */
@media (max-width: 57em) {
  /* 8/16= 0.5*/
  html {
    font-size: 50%;
  }

  .container-hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-image {
    width: 60%;
  }

  .hero-text-box {
    text-align: center;
  }

  .hero-image-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testomonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn-form {
    margin-top: 1.2rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 100;
  }

  .header {
    position: relative;
  }

  .main-nav {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/* 704px */
@media (max-width: 45em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .section-prices {
    padding: 6.4rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid-footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col {
    grid-column: span 3;
  }

  .adress-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/* 545px */
@media (max-width: 35em) {
  .gap {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .logos img {
    height: 1.6rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .delivered-text {
    font-size: 1.6rem;
  }

  .hero-image {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(24px);
  }

  .testomonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.6rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    grid-row: 1;
    height: 360px;
  }
}
